/* CSS Document */
.pupBg {
    display: none;
    position: fixed;
    _position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 20000;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";

    /* IE 5-7 */
    filter: alpha(opacity=65);

    /* Netscape */
    -moz-opacity: 0.65;

    /* Safari 1.x */
    -khtml-opacity: 0.65;

    /* Good browsers */
    opacity: 0.65;
}


body {
    color: #000;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    letter-spacing: 0.2px;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
    line-height: 1.5;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-all;
}

.text-999 {
    color: #999;
}

.text-666 {
    color: #666;
}

.text-ddd {
    color: #ddd;
}

.text-upper {
    text-transform: uppercase;
}

.mar-center {
    margin: 0 auto;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.text-666 {
    color: #666;
}

.text-999 {
    color: #999;
}

.text-danger {
    color: #d9534f
}

.text-success {
    color: #5cb85c
}

.text-warning {
    color: #f0ad4e
}

.background-danger {
    background: #d9534f
}

.background-success {
    background: #5cb85c
}

.background-warning {
    background: #f0ad4e
}

.ver-middle {
    vertical-align: middle !important;
}

.require {
    color: #cf2f3a;
}

.cursor-pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.mar5 {
    margin: 5px;
}

.marleft5 {
    margin-left: 5px;
}

.marright5 {
    margin-right: 5px;
}

.martop5 {
    margin-top: 5px;
}

.marbottom5 {
    margin-bottom: 5px;
}

.mar10 {
    margin: 10px;
}

.martop10 {
    margin-top: 10px;
}

.marright10 {
    margin-right: 10px;
}

.marbottom10 {
    margin-bottom: 10px;
}

.marleft10 {
    margin-left: 10px;
}

.mar20 {
    margin: 20px;
}

.martop20 {
    margin-top: 20px;
}

.marright20 {
    margin-right: 20px;
}

.marbottom20 {
    margin-bottom: 20px;
}

.marleft20 {
    margin-left: 20px;
}

.pad5 {
    padding: 5px;
}

.padtop5 {
    padding-top: 5px;
}

.padright5 {
    padding-right: 5px;
}

.padbottom5 {
    padding-bottom: 5px;
}

.padleft5 {
    padding-left: 5px;
}

.pad10 {
    padding: 10px;
}

.padtop10 {
    padding-top: 10px;
}

.padright10 {
    padding-right: 10px;
}

.padbottom10 {
    padding-bottom: 10px;
}

.padleft10 {
    padding-left: 10px;
}

.padleft15 {
    padding-left: 15px;
}

.padright15 {
    padding-right: 15px;
}

.padleft20 {
    padding-left: 20px;
}

.padright20 {
    padding-right: 20px;
}

.padbottom20 {
    padding-bottom: 20px;
}

.padtop20 {
    padding-top: 20px;
}

.pad20 {
    padding: 20px;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w180 {
    width: 180px;
}

.w250 {
    width: 250px;
}

.w300 {
    width: 300px;
}

.w360 {
    width: 360px;
}

.w365 {
    width: 365px;
}

.w450 {
    width: 450px;
}

.w600 {
    width: 600px;
}

.inline-block {
    display: inline-block !important;
}

.error-border {
    border-color: red !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, .075), 0 0 8px rgba(233, 85, 94, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(255, 0, 0, .075), 0 0 8px rgba(233, 85, 94, .6) !important;
}

.input {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
}

.ajaxLoadingPopupBackground {
    display: none;
    position: fixed;
    _position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 5000;
}

.ajaxPopupLoadingImg {
    z-index: 5001;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
}

h1, .h1 {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

h2, .h2 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

h3, .h3 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

h4, .h4 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h5, .h5 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

h6, .h6 {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}


a {
    color: #000;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    color: #c60c30;
    text-decoration: none;
    outline: 0;
}

a:active {
    color: #003478;
}

/* header */
.header {
    padding: 5px 0;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.header .header-left {
    position: relative;
    float: left;
}

.header .header-right {
    position: relative;
    float: right;
    text-align: right;
    width: 70%;
}

/* end header */

.breadcrumb-box {
    background-color: #efefef;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.breadcrumb {
    background: transparent;
    /*border-bottom: 1px solid #efefef;*/
    color: #888;
    font-size: 85%;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    list-style: outside none none;
    padding: 12px 0 10px;
    margin-bottom: 0;
}

.breadcrumb > li + li:before {
    color: #888;
    padding: 0 6px;
}

.breadcrumb > li + li:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    text-decoration: inherit;
}

.entry-single-header .entry-title {
    font-size: 2em;
    line-height: 1.1;
}

/* filter box */
.filter-box {
    background: #e1e1e1;
    padding: 6px;
    margin-bottom: 1.25em;
}

.filter-box .selectbox .btn {
    width: 100%;
    text-align: left;
    position: relative;
}

.filter-box .selectbox .btn > .caret {
    position: absolute;
    right: 5px;
    top: 15px;
}

.filter-box .form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filter-box .form-control:focus {
    border: 1px solid #ccc;
}

.filter-box .btn {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.form-control[readonly] {
    background-color: #fff;
}

.filter-box .row [class*="col-"]:last-child {
    margin-bottom: 0;
}

#iptUsername {
    width: 100%
}

@media (min-width: 992px) {

    .filter-box .row [class*="col-"] {
        padding-right: 0;
        margin-bottom: 0;

    }

    .filter-box .btn {
        margin-top: 3px;
    }
}

@media (max-width: 991px) {
    .searchUsn2 .form-group {
        float: left !important
    }

    .filter-box .btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #iptUsername {
        margin-bottom: 1.25em
    }

    .searchUsn2 .form-group {
        width: 100%
    }

    .searchUsn2 .content-search input, select {
        margin-bottom: 5px
    }
}

/* end filter box */

.middle-content-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*position: absolute;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*z-index:101;*/
}

.middle-content-box .middle-content {

    word-wrap: break-word;
    /*word-break: break-all;*/
    padding: 8px 0;
}

.middle-content-box .middle-content.allow-ver-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.box-list {
    padding: 0 15px;
}

.status-complete {
    color: #79d900;
}

.box-list .row { /*display:flex;display: -webkit-flex;*/
}

.box-list .row [class*="col-"] {
    padding-right: 0;
    margin-bottom: 0; /*display:flex;display: -webkit-flex;*/
}

/*.box-list .row [class*="col-"]:first-child {padding-left: 0;}*/
.box-list .row.row-header {
    margin-bottom: 0;
    padding-bottom: 6px;
}

.box-list .row.row-header [class*="col-"] {
    font-weight: bold;
    margin-bottom: 0;
    height: 32px;
}

.box-list .pay-code, .box-list .pay-date, .box-list .pay-status {
    text-align: center;
}

.box-list .pay-title {
    text-align: left;
    padding-left: 15px
}

.box-list .pay-money {
    text-align: right;
}

.box-list .row:nth-child(even) {
    background-color: #f6f6f6;
}

.box-list .row {
    /*
    -webkit-box-shadow: 0px 5px 0px 0px rgba(153,153,153,0.15);
    -moz-box-shadow: 0px 5px 0px 0px rgba(153,153,153,0.15);
    box-shadow: 0px 3px 0px 1px rgba(153,153,153,0.25);
    */
    /*
    border-top: 1px solid #ccc;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;*/
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin-bottom: 1px;
}

.box-list .row:last-child {
    margin-bottom: 1.25em;
}

@media (max-width: 991px) {
    .box-list .pay-code, .box-list .pay-date, .box-list .pay-money {
        text-align: left;
    }

    .box-list .pay-code, .box-list .pay-title {
        padding-left: 8px !important;
        margin-bottom: 0;
        background-color: #f6f6f6;
        font-weight: bold;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    }

    .box-list .pay-status {
        text-align: right;
        padding-right: 8px !important;
        margin-bottom: 0;
        background-color: #f6f6f6;
        font-weight: bold;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    }

    .box-list .row .pay-date {
        padding-left: 8px;
        margin-bottom: 0;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    }

    .box-list .row .pay-date:before {
        /*
        content: "\f073";
        font-family: "FontAwesome";
        color: #0080d4;
        display: inline-block;
        height: 16px;
        left: 1px;
        margin-left: 0px;
        padding-left: 8px;
        padding-top: 5px;
        position: absolute;
        top: 0px;
        width: 16px;
        */
    }

    .box-list .row .pay-used {
        padding-left: 8px;
        margin-bottom: 0;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    }

    .box-list .row .pay-used:before {
        /*
        content: "\f13d";
        font-family: "FontAwesome";
        color: #0080d4;
        display: inline-block;
        height: 16px;
        left: 1px;
        margin-left: 0px;
        padding-left: 8px;
        padding-top: 5px;
        position: absolute;
        top: 0px;
        width: 16px;
        */
    }

    .box-list .row .pay-content {
        padding-left: 8px;
        margin-bottom: 0;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    }

    .box-list .row .pay-content:before {
        /*
        content: "\f05a";
        font-family: "FontAwesome";
        color: #0080d4;
        display: inline-block;
        height: 16px;
        left: 1px;
        margin-left: 0px;
        padding-left: 8px;
        padding-top: 5px;
        position: absolute;
        top: 0px;
        width: 16px;
        */
    }

    .box-list .pay-money {
        padding-left: 8px;
        margin-bottom: 0;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
        box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    }

    .box-list .row .pay-money:before {
        /*
        content: "\f155";
        font-family: "FontAwesome";
        color: #0080d4;
        display: inline-block;
        height: 16px;
        left: 1px;
        margin-left: 0px;
        padding-left: 8px;
        padding-top: 5px;
        position: absolute;
        top: 0px;
        width: 16px;
        */
    }

    .box-list .row:nth-child(even) {
        background-color: transparent;
    }

    .middle-content-box .middle-content {
        word-wrap: break-word;
        word-break: break-all;

    }

    .box-list .row {
        -webkit-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
        -moz-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
        box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
        border: 1px solid #ddd;
        border-top-color: #ccc;
        background: #fff;
        margin-bottom: 1.25em;
    }
}

/* payment detail */
.payment-detail-box {
    -webkit-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    -moz-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    border: 1px solid #ddd;
    border-top-color: #ccc;
    background: #fff;
    margin-bottom: 1.25em;
    padding: 0 15px;
}

.payment-detail-box .row:nth-child(odd) {
    background-color: #f6f6f6;
    margin-top: 1px;
}


.payment-detail-box-header {
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.25);
    -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.25);
    box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.25);

}

.payment-detail-box .payment-detail-label {

}

.payment-detail-box .row [class*="col-"] {
    margin-bottom: 0;

}

.payment-detail-box .row {
    -webkit-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    -moz-box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.15);
    box-shadow: 0px 1px 0px 0px rgba(153, 153, 153, 0.35);
}

.payment-detail-box .inp-info {
    width: 100%;
    margin-bottom: 1.25em;
}

.payment-detail-box .inp-box .dropdown {
    margin-bottom: 1.25em;
}

.payment-detail-box .inp-box .dropdown .btn.dropdown-toggle {
    text-align: left;
    width: 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 10px 4px;
    font-size: 100%;
}

.payment-detail-box .btn-default:active:hover, .payment-detail-box .btn-default.active:hover, .payment-detail-box .open > .dropdown-toggle.btn-default:hover, .payment-detail-box .btn-default:active:focus, .payment-detail-box .btn-default.active:focus, .payment-detail-box .open > .dropdown-toggle.btn-default:focus, .payment-detail-box .btn-default.focus:active, .payment-detail-box .btn-default.active.focus, .payment-detail-box .open > .dropdown-toggle.btn-default.focus {
    background-color: #fff;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.payment-detail-box .btn-default:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.payment-detail-box .inp-box .dropdown .btn.dropdown-toggle .caret {
    float: right;
    top: -9px;
    position: relative;
}

.payment-detail-box .dropdown-menu {
    margin-top: -1px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    width: 50%;
}

/* end payment detail */

/* paging */
.button-pre {
    background: url(images/pre-button-bg.png) no-repeat 0 1px;
}

.button-next {
    background: url(images/next-button-bg.png) no-repeat 0 1px;
}

.button-pre, .button-next {
    display: inline-block;
    height: 18px;
    width: 10px;
    vertical-align: middle;
}

.paging-container {
    background: #e5e5e5;
    text-align: center;
    padding: 5px;
    margin-bottom: 1.25em;
    /*border: 1px solid #d7d7d7;*/
}

.paging-container .item {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    margin: 2px 10px 0;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #e5e5e5;
    cursor: pointer;
}

.paging-container a.item:hover, .paging-container .item.active {
    border-bottom: 2px solid #1d96ea;
    color: #000;
}

.paging-container .item.active {
    cursor: default !important;
}

/* end paging */

/*
.box-list .row [class*="col-"]:before, .box-list .row [class*="col-"]:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background: #ccc;
}
*/

/* pay page */
.pay-option .panel.panel-default {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    -moz-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
}

.pay-option-popupbox .panel.panel-default {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 0px 5px 2px rgba(153, 153, 153, 0.3);
    -moz-box-shadow: 0 0px 5px 2px rgba(153, 153, 153, 0.3);
    box-shadow: 0 0px 5px 2px rgba(153, 153, 153, 0.3);
}

.pay-option-popupbox {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 100%;
}

/* end pay page */

/* credit page */
.credit-box {
    max-width: 750px;
    margin: 0 auto;
}

.credit-box-content {
    background: #efefef;
}

.credit-box .img-step {
    max-width: 100%;
    width: 100%;
}

.credit-box-title {
    margin: 0 auto;
}

.credit-box .step-1-content:before {
    content: "1. ";
    font-weight: bold;
    font-size: 110%;
}

.credit-box .step-2-content:before {
    content: "2. ";
    font-weight: bold;
    font-size: 110%;
}

.credit-box .step-3-content:before {
    content: "3. ";
    font-weight: bold;
    font-size: 110%;
}


/* end credit page */

/* footer */
.footer {
    background: #fff;
    color: #888;
    font-size: 11px;
    height: 55px;
    overflow: hidden;
    line-height: 55px;
}

.footer .vccorp {
    float: left;
    width: 112px;
}

.footer .vccorp img {
    width: 83%;
    filter: grayscale(100%);
}

.footer .copyright {
    padding-top: 5px;
    display: inline-block;
    color: #999999;
}

#remove_name {
    position: absolute;
    top: 10px;
    right: 7px;
    z-index: 10;
    color: #d24c4c;
    cursor: pointer;
    display: none
}

.lbUname:hover #remove_name {
    display: block
}

/* end footer */

.book_detail {
    margin-right: 2px;
}

.book_quota {
    /*opacity: 0.5;
    background: #ddd;*/
}

.white-bg {
    background: #ffffff;
}

.fixed-table {
    table-layout: fixed
}

.fixed-table td {
    /* css-3 */
    position: relative;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.booking_table {
    margin: 0;
}

.booking_table th {
    width: 120px;
}

.booking_table td {
    background-clip: padding-box;
}

.booking_table td.active {
    text-align: center;
}

.booking_table .booked_wrapper {
    width: 100%;
}

.booking_table .bookmark_btn {
    width: 100%;
    text-align: center;
    display: inline-block;
    clear: both;
    padding: 5px 0;
    /*position:absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);*/
}

.booking_wrapper {
    overflow-x: auto;
    margin-bottom: 20px;
}

.book_color {
    float: left;
    width: 30px;
    height: 20px;
}

.book_icon {
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
    float: none !important;
    margin: 0 !important;
}

.status_grey {
    background-color: grey;
    color: #fff;
}

.status_yellow {
    background-color: yellow;
    color: #000;
}

.status_lawngreen {
    background-color: lawngreen;
    color: #000;
}

.status_green {
    background-color: green;
    color: #fff;
}

.status_purple {
    background-color: purple;
    color: #fff;
}

.status_red {
    background-color: red;
    color: #fff;
}

.status_black {
    background-color: black;
    color: #fff;
}

.background_grey {
    background: grey
}

.background_yellow {
    background: yellow
}

.background_lawngreen {
    background: lawngreen
}

.background_green {
    background: green
}

.background_purple {
    background: purple
}

.background_red {
    background: red
}

.background_black {
    background: black
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.article-detail-box {
    -webkit-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    -moz-box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.25);
    border: 1px solid #ddd;
    border-top-color: #ccc;
    background: #fff;
    margin-bottom: 1.25em;
    padding: 0 15px;
}

.article-detail {
    border-right: 1px #ddd solid;
}

.article-detail .row:nth-child(odd) {
    background-color: #f6f6f6;
    margin-top: 1px;
}

.article-detail .row [class*="col-"] {
    margin-bottom: 0;
}

.article-detail .col-xs-6:nth-child(odd) {
    border-right: 1px #ddd solid;
}

.article-content {
    max-height: 400px;
    overflow-y: auto;
}

.review_msg {
    border: 1px solid #ddd;
    border-top-color: #ccc;
    background: #f6f6f6;
    margin-bottom: 1.25em;
    padding: 5px 15px;
}

.review_msg:last-child {
    margin-bottom: 0;
}

.article-reviews {
    overflow-y: auto;
    max-height: 542px;
    position: relative;
}

.review_status {
    margin-left: 5px;
}

.form-control, .btn, .modal-content {
    border-radius: 1px;
}

.loading {
    position: relative;
}

.loading:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
    background: rgba(0, 0, 0, 0.1);
}

.loading:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    display: block;
    z-index: 9999;
    background: transparent url('data:image/svg+xml,<svg%20xmlns%3D"http%3A//www.w3.org/2000/svg"%20viewBox%3D"0%200%2032%2032"%20width%3D"32"%20height%3D"32"%20fill%3D"%233498db">%0A%20%20<path%20opacity%3D".25"%20d%3D"M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204"/>%0A%20%20<path%20d%3D"M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z">%0A%20%20%20%20<animateTransform%20attributeName%3D"transform"%20type%3D"rotate"%20from%3D"0%2016%2016"%20to%3D"360%2016%2016"%20dur%3D"0.8s"%20repeatCount%3D"indefinite"%20/>%0A%20%20</path>%0A</svg>%0A%0A') no-repeat center/100%;
}

.loading-min {
    position: relative;
}

.loading-min:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
    background: rgba(0, 0, 0, 0.1);
}

.loading-min:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    display: block;
    z-index: 9999;
    background: transparent url(images/loading.svg) no-repeat center/100%;
}

.loading-xs {
    position: relative;
}

.loading-xs:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
    background: rgba(0, 0, 0, 0.1);
}

.loading-xs:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    display: block;
    z-index: 9999;
    background: transparent url(images/loading.svg) no-repeat center/100%;
}

.booking.modal-open .modal {
    padding: 0 !important;
}

.booking .modal-dialog {
    margin: 0;
    float: right;
    height: 100vh;
}

.booking .modal-content {
    min-height: 100vh;
}

.booking .modal-header .close {
    position: absolute;
    left: -31px;
    top: 5px;
    width: 31px;
    height: 31px;
    line-height: 31px;
    background-color: #000;
    text-shadow: none;
    color: #fff;
    opacity: 1;
    border: none;
    font-size: 30px;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.booking .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(80%, 0);
    -ms-transform: translate(80%, 0);
    -o-transform: translate(80%, 0);
    transform: translate(80%, 0);
}

.booking .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.booking_status {
    font-weight: bold;
}

.booking_status span {
    color: #f00;
    background-color: transparent;
}

.booking_status span.status_purple {
    color: red;
}

.art_title {
    display: inline-block;
    padding-top: 7px;
    line-height: 22px;
    min-height: 35px;
}

#booking_detail .modal-dialog, #create_booking .modal-dialog {
    max-width: 50%;
    width: 650px;
}

#create_booking_form .control-label {
    color: #333333;
    text-align: left;
    font-weight: bold;
}

.booking_note {
    font-style: italic;
}

#booking_detail.modal a.link {
    color: #337ab7;
    font-weight: bold;
}

.red {
    color: red;
}

.color-box span {
    font-size: 15px;
}

.item-booking {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-size: 13px;
    height: 27px;
    line-height: 27px;
    padding: 0 0 0 2px;
}

/* .table-bordered > tbody > tr > td .booked_wrapper {
    border-bottom: 0px solid green;
}

.table-bordered > tbody > tr > td .booked_wrapper:last-child {
    border-bottom: none;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0px solid green;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0px solid green;
} */

.table>thead>tr{
    background-color: #eef2fa;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 1px solid #eceff1;
}

.table-bordered > tbody > tr > td.item-slot {
    padding: 0;
    vertical-align: top !important;
    padding-bottom: 20px;
}

.table-bordered > thead > tr > th {
    background-color: #d9edf7;
}

.nav-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    display: block;
    float: left;
}

.menu-logo img {
    height: 37px;
}

.menu {
    margin-top: 3px;
}

.filter-box {
    margin-top: 10px;
}

.filter-box .entry-title {
    margin: 0;
}

/*.box-calendar{
	height: calc(100vh - 227px);
	overflow: auto;
}
.page-fixed .main{
    min-height: calc( 100vh - 112px );
    height: calc( 100vh - 112px );
}*/
.booking_table > tbody > tr > td, .booking_table > thead > tr > th {
    width: 11.11%;
}

.wrap-fixed-table.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
}

.box {
    /*border: 1px solid #eee;*/
    padding: 15px;
    border-radius: 5px;
}

.box.box-contract {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

.box.box-article {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
}

.box .box-title {
    margin: 0 0 10px;
}

.box a {
    color: #337ab7;
}

.form-horizontal .box .form-group {
    margin-bottom: 5px;
}

.form-horizontal.form-detail .box .control-label {
    padding-top: 0;
}

.form-horizontal.form-detail .box .form-group {
    margin-bottom: 0;
}

.modal-content .alert {
    padding: 7px;
}

.modal-content .form-horizontal .form-group {
    margin-bottom: 5px;
}

.modal-title .booking-id {
    color: #ff250b;
}

.form-filter {
    padding: 20px 0;
    overflow-y: hidden;
    /*margin-bottom: 20px;
    border-bottom: 1px solid #ddd;*/
}

.form-filter label {
    margin-right: 5px;
}

.form-filter .form-group:not(:last-child) {
    margin-right: 15px;
}

#booking_modal .modal-content {
    padding-bottom: 45px;
}

.message {
    color: #4ac1b0;
    font-weight: bold;
}

.message.error {
    color: #f00;
    font-weight: bold;
}

form {
    padding: 10px;
}

.article-create {
    border: 1px #c4c4c4 solid;
    margin: 20px 0 30px;
    border-radius: 10px;
    padding: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
    background-color: #f1f3f4!important;
    border: 1px solid #f1f3f4!important;
}
