/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-logo {
	/*
	position: absolute;
	top: 0px;
	left: 0;
	display: block;
	*/
}
.menu-logo img {height: 40px;}
.menu {
	position: relative;
	/*margin-top: 3px;*/
	text-align: center;
}
.nav-menu {
	background-color:#ddd;
	color:#fff;
	/*background: #fff;
	margin-top:10px;*/
	/*border-bottom: 1px solid #d6d6d7;*/
}
.menu-container {
    width: 100%;
    /*margin: 0 auto;*/
    /*background: #e9e9e9;*/
}

.menu-mobile {
    display: none;
    padding: 15px 10px 15px 0;
	outline: medium none;
	color:#000;
}
.menu-mobile:hover {color:#000;}

.menu-mobile:after {
    content: "\f03a";
    font-family: "FontAwesome";
    font-size: 2.25em;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}
/*
.menu-dropdown-icon:before {
    content: "\f067";
    font-family: "FontAwesome";
	font-weight: 400;
    display: none;
    cursor: pointer;
    float: right;
    padding: 15px 0;
	width: 60px;
    color: #fff;
	text-align:center;
}
*/
/*
.menu-dropdown-icon > a:after {
    content: "\f107";
    font-family: "FontAwesome";
    cursor: pointer;
	padding:0 0 0 5px;
    color: #fff;
	text-align:center;
	position: absolute;
}
*/
/*
.menu-dropdown-icon.mnopen:before {
    content: "\f068" !important;
    font-family: "FontAwesome";
	background: #262728;
	font-weight: 400;
	z-index:100;
}
*/
/*
.menu-dropdown-icon:hover:before, .menu-dropdown-icon.mnopen:hover {
	background-color:#4f5153;
}
.menu-dropdown-icon.mnopen ul li.menu-dropdown-icon:before {
	background-color:#4f5153;
}


.menu-dropdown-icon.mnopen > a, .menu-dropdown-icon.mnopen > a:before {
	background: #393f4f;
}
*/



.menu-dropdown-icon.mnopen > a, .menu-dropdown-icon.mnopen > a > i.fa {color: #333;}


.menu > ul {
    margin: 0 auto;
    width: auto;
	display: table;
    list-style: none;
    padding: 0;
    position: relative;
	z-index: 999;
	text-align: left;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    /*background: #000;*/
    padding: 0;
    margin: 0;
}

.menu > ul > li > a {
    text-decoration: none;
    padding: 8px 15px 8px;
    display: block;
    margin-right: 1px;
	width: auto !important;
	text-transform:uppercase;
	font-size: 70%;
	font-weight:bold;
	/*
	color:#000;
	font-weight:800;*/
	/*font-size: 15px;*/
	border-bottom: 0 !important;
	top: 0;
	left: 0;
	position: relative;
	/*border-right: 1px solid #262728;*/
}
.menu > ul > li:first-child > a {
	/*border-left: 1px solid #262728;*/
}
.menu > ul > li > a > i.fa {
	font-weight:300;
	margin-right:5px;
	font-size: 12px;
	color: #555;
}
/*
.menu > ul > li > a.has-sub-menu {
	background: url(images/caret_down.png) no-repeat right 15px;
	z-index:-1;
}
.menu > ul > li > a.has-sub-menu:hover {
	background: url(images/caret_down.png) no-repeat right 15px;
	z-index:0;
}
*/

.menu > ul > li > a > i.caret-down {
	margin-left: 5px;
	margin-right:0;
	font-size: 11px;
	
	position: absolute;
	right: 3px;
	top:11px;
	display:none;
}

.menu > ul > li:hover > a > i.caret-down {
	display:inline-block;
}

.menu > ul > li:hover > a {
	
}
/*
.menu > ul > li:hover > a > i.fa {
	color: #fff;
}
*/

/*
.menu > ul > li.menu-dropdown-icon:hover > a:after {
	color: #cf2f3a;
	transition: all 0.3s ease 0s;
}
*/

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
	/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.176);*/
    padding: 0 0 0 20px;
    position: absolute;
    z-index: 999;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li > a {
    color: #fff;
    padding: .75em 10px;
    /*width: 95%;*/
	margin: 0;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255,255,255,0.3);
	font-size: 12px;
}

.menu > ul > li > ul > li a:hover {text-decoration:underline;}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    /*margin: 10px 0 0;*/
	margin:.5em 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    /*padding: 10px 0;*/
	padding: 0;
    margin: 0;
    /*font-size: 85%;*/
}

.menu > ul > li > ul > li > ul > li > a {
    border: 0;
	color:#fff;
	text-transform: none;
	padding: .5em 0;
	font-size: 90%;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
	padding: 0;
    /*padding: 10px 20px;*/
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li > a {
    padding: 10px;
	/*margin: 0 10px;*/
}
.menu > ul > li > ul.normal-sub > li:last-child > a{
	border-bottom:0;	
}
.menu > ul > li > ul.normal-sub > li:first-child > a {
	border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(255,255,255,0.3);
}

.menu > ul > li > ul.normal-sub > li a:hover {
	text-decoration: none;
	/*color: #cf2f3a;*/
}


.menu > ul > li > a {/*border-bottom-color: #f3ab00; color: #f3ab00;*/}
.menu > ul > li > a > i.fa {/*color: #f3ab00;*/}
.menu > ul > li:hover > a {
	background-color: #f3ab00;
	color: #fff;
	border-bottom:0;
	/*border-bottom: 2px solid #f3ab00;*/
	transition: all 0.3s ease 0s;
	color: #fff;
}
.menu > ul > li:hover > a > i.fa {color: #fff;}
.menu > ul > li:hover > a ~ ul {
	background-color: #f3ab00 !important;
}

.menu > ul > li:hover:nth-child(even) > a {
	background-color: #50bb3d;
}

.menu > ul > li:hover:nth-child(even) > a ~ ul {
	background-color: #50bb3d !important;
}


@media only screen and (max-width: 1199px){
	.menu-logo img {height: 40px;}
	
	.menu > ul > li > a {
	    padding: 15px 15px 15px;
	}
	.menu > ul {
	    
	}
	.menu > ul > li > ul.normal-sub {
	    width: 250px;
	}
}

@media only screen and (max-width: 989px){
	.menu-logo img {height: 40px;}
	
	.menu > ul > li > a {
	    padding: 15px 15px 15px;
	    font-size: 12px;
	}
	.menu > ul > li > a > i.fa {
		font-weight:300;
		margin-right:3px;
		font-size: 14px;
		color: #555;
	}
	.menu > ul {
	    
	}
	.menu > ul > li > ul.normal-sub {
	    width: 190px;
	}
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 767px) {
   
   /*
    .menu-logo {
   		position: relative;
    }
	*/
	.nav-menu {
		display: none;
		background: #fff;
		height: 50px;		
	}
	.menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
        margin-left: 10px;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
        margin-left: 0;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
	.menu > ul > li:first-child > a {
		border-top: 1px solid #222;
	}
    .menu > ul > li > a {
        padding: 15px 10px 15px 10px;
        width: 100%;
        display: block;
		border-bottom: 1px solid #222;
		font-size: 13px;
		margin-left:0;
		border-right:0;
    }
	.menu > ul > li:hover > a {
		border-bottom: 1px solid #cf2f3a;
		transition: all 0.3s ease 0s;
		color: #cf2f3a;
	}
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
		background:#000;
    }
	.menu > ul > li > ul.normal-sub > li > a {
        margin-left:0;
		border-bottom: 1px solid #141414;
		color:#fff;
		padding: 12px 10px 12px 10px;
		font-size:12px;
    }
	.menu > ul > li > ul.normal-sub > li:last-child > a {
		border-bottom: 1px solid #141414;
	}
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 0px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
		margin: 0;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
	
	.menu > ul > li.menu-dropdown-icon > a:after {
		display:none;
	}
	.menu > ul > li.menu-dropdown-icon:hover > a:after {
		display:none;
	}
	.menu > ul > li.menu-dropdown-icon > a {margin-right: 60px;}
	.menu > ul > li:first-child > a {
		border-left: none;
	}
	.nav-menu .container {
		padding: 0;
	}
}