.header {
    padding: 30px 0;
}

table.list-url thead tr {
    background: #D7EDF6;
}

table.list-url tbody tr td {
    font-size: 13px;
    font-family: Arial;
}

table.list-url > tbody > tr:nth-of-type(odd) {

}

.main {
    min-height: 700px;
    min-height: calc(100vh - 129px);
}

.table-bordered > tbody > tr > td {
    position: relative;
    cursor: pointer;
}

.table-bordered > tbody > tr > td .booked_wrapper {
    position: relative;
    z-index: 2;
}

.table-bordered > tbody > tr > td.mark-quota {
    background-color: #eee;
    cursor: default;
}

.table-bordered > tbody > tr > td .mark-expired {
    background-color: #cccccc30;
    cursor: default;
}

.table-bordered > tbody > tr > td .mark-booking {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.table-bordered > tbody > tr > td .mark-booking:hover {
    background-color: #d9eef7;
}

.table-bordered > tbody > tr > td .mark-booking.mark-expired:hover {
    background-color: #ccc;
}

.tooltip {
    width: auto;
}

.tooltip.top {
    bottom: 100% !important;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip-inner {
    padding: 5px 10px;
    /*width: 200px;*/
    max-width: none;
    width: auto;
    white-space: nowrap;
}

.mark-quota .tooltip-inner {
    background-color: #ff250b;
}

.mark-quota .tooltip.top .tooltip-arrow {
    border-top-color: #ff250b;
}

body {
    background: #e7e9eb !important;
}

.main {
    margin-top: 0px;
}
.head-content{
    background-color: #275fb0;
}
.head-content>div>h3{
    color: #fff;
}
/* .head-content>div{
    position: relative;
    top: 30px;
} */

.main .container {
    background: #ffffff;
}

.nav-menu {
    background: #ffffff;
    border-bottom: 2px #ddd solid;
}

.filter-box {

    border-radius: 5px;

}

.color-box span {
    border-radius: 7px;
}

.menu > ul {
    float: right;
}

.pagination {
    margin: 0;
}

.table-bordered > tbody > tr > td {
    border-color: #cccccc;

}

.table-bordered > thead > tr > th, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-color: #cccccc;
}

.article-info {
    color: #999999;
    font-size: 13px;
}


#chart_div_load, #chart_div_export {
    padding: 10px;
    border: 1px #e6e6e6 solid;
    margin: 10px 0;
}

.status_blue {
    background: #003A88;
    color: #ffffff;
}

.pd-10 {
    padding: 10px;
}

table.list-article {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

table.list-article th {
    font-size: 13px;
    color: #fff;
    line-height: 1.4;
    background-color: #337ab7;
    padding-top: 18px;
    text-align: center;
    padding-bottom: 18px;
}
table.list-article td {
padding: 10px 5px;
    text-align: center;
}
table.list-article tr:nth-child(even){
    background-color: #f8f6ff;
}

/* Modal*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}
.modal-body .form-group{
    margin-bottom: 5px;
}

.panel-title {
    display: block;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #37474f;
}

.dashboard-item{

}
.boxhead{
    position: relative;
    top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.boxhead input{
    background-color: #f1f3f4;
    width: 18%;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
}

